@tailwind base;
@tailwind components;
@tailwind utilities;

#clickify-extension-root {
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background-color: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: theme("colors.gray.600");
    border-radius: 16px;
    border: 6px solid transparent;
    background-clip: content-box;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: theme("colors.gray.400");
  }

  * {
    color: inherit;
  }
}
